@charset "UTF-8";

:root{
    --cor1: #092f94;
    --cor2: #a4bcfc;
    --cor3: #0e2a71;
    --cor4: #6b81b5;
    --cor5: #aeb5c6;
    --cor6: #60626d;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: var(--cor5);
    color: #fff;
    background-image: url(/assets/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    padding: 12px;
    background-color: var(--cor6);
}

nav{
    width: 98%;
    padding: 8px;
}

.link{
    display: inline-block;
    width: 130px;
    padding: 5px;
    color: #fff;
    text-decoration: none;
    border: 1px solid #00000065;
    border-radius: 8px;
    box-shadow: 1px 1px 5px #0000006e;
    text-align: center;
}

nav a:hover{
    background-color: #393a41;
    font-weight: bold;
}

h1{
    margin-bottom: 8px;
    padding: 5px;
    font-size: 20pt;
    text-align: center;
    margin-bottom: 15px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img{
    margin: 15px;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    border-radius: 15px;
    
}

.box{
    padding: 3px;
    display: flex;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.322);
    border-radius: 15px;
    min-height: 120px;
    width: 430px;
    margin-top: 20px;
    background-color: var(--cor6);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.555);
}

.box p{
    padding: 5px;
    width: 270px;
    text-align: justify;
    
}

.titulo{
    font-weight: bolder;
    font-size: 12.5pt;
}
.descricao{
    font-size: 10pt;
}
.status{
    font-size: 10.5pt;
}